/Application/Fiji.app/
/Application/Tesseract-OCR/
/Source/desktop.ini
/Source/Thumbs.db
/Img_files_cropped.txt
/Img_files.txt
/image_data.xlsx
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/LHT_ImageAnalyzer.iml
/.idea/.gitignore
